body {
    background-color: #242627;
    color: wheat;
}
.row{
    margin: 0;
    padding: 0;
}
.row > *{
    padding: 0;
}
/* ----------------- HEADER -------------------- */
header{
    color: #f5deb3;
}
header a, header .nav-link, header .nav-item, header .navbar-brand{
    color: wheat;
    transition:all 0.400s;
}
header a:hover, header .nav-link:hover, header .nav-item:hover, header .navbar-brand:hover{
    color: rgb(206, 206, 206);
}
.icon-perso{
    width: 25px;
}
/* ----------------- ALL PAGES -------------------- */
.card{
    background-color: rgb(182, 179, 147);
    border: 2px solid black;
}
.card img{
    width: 100%;
    object-fit: cover;
    max-height: 200px;
    object-position: 0% 100%;
}
.card .btn{
    border-radius: 0%;
}
/* ----------------- HOME INDEX -------------------- */


/* ----------------- VIDEO CONTAINER ----------- */
#fs-mode{
    height: 55px;
    background-color: black;
    width: 100%;
    z-index: 999999;
    color: wheat;
    margin-top: -10px;
    border: none;
}
.video-container-toggle-class{
    width: 100%;
}
#video-container #bloc-video{
    height: 55px;
    background-color: black;
    width: 100%;
    z-index: 9999;
    position: relative;
}
#video-container iframe{
    margin-top: -55px;
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 16 / 9;
}
/* ----------------- FOOTER -------------------- */
/* ----------------- FOOTER -------------------- */
/* ----------------- FOOTER -------------------- */
footer{
    background-color: #2B3035;
    color: wheat;
}