{% extends 'base.html.twig' %}

{% block title %}Modifier Mot de Passe{% endblock %}

{% block body %}
<div class="row mt-4">
    <div class="col-md-2">
        {% include 'user_account/_menu.html.twig' %}
    </div>
    <div class="col-md-8">
        <h1>Modifier votre mot de passe</h1>
        <hr class="mb-5">
        <div class="row mb-4 justify-content-center">
            <div class="col-md-6">
                <div class="mb-5">
                    <small>Rappel : les mots de passes doivent contenir au minimum 4 caractères et au maximum 30 caractères.</small>
                </div>
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}