{% block body %}
    <div class="container py-5">
        <h1 class="mb-4">Mes Informations</h1>
        <hr>
        <form>
            <div class="row mb-4">
                <div class="col-md-6">
                    <h2>Informations Personnelles</h2>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="fullName" value="{{app.user.lastName}}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="fullName" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="fullName" value="{{app.user.FirstName}}" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Adresse e-mail</label>
                        <input type="email" class="form-control" id="email" value="{{app.user.email}}" disabled>
                    </div>
                </div>
            </div>
            {# <hr> #}
            {# ------------------- NEWSLETTER --------------- #}
            {# <div class="row mb-4">
                <div class="col-md-6">
                    <h2>Email Preferences</h2>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="newsletterCheck" checked>
                        <label class="form-check-label" for="newsletterCheck">Receive newsletter</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="promotionsCheck">
                        <label class="form-check-label" for="promotionsCheck">Receive promotional emails</label>
                    </div>
                </div>
            </div> #}
            <hr>
            <div class="row mb-4">
                <div class="col-md-6">
                    <h2>Changer son mot de passe</h2>
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Mot de passe actuel</label>
                        <input type="password" class="form-control" id="currentPassword" placeholder="Ecrire le mot de passe actuel">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Nouveau mot de passe </label>
                        <input type="password" class="form-control" id="newPassword" placeholder="Ecrire le nouveau mot de passe">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirmer nouveau mot de passe </label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Réécrire le nouveau mot de passe">
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            </div>
        </form>
    </div>
{% endblock %}
