{% extends 'base.html.twig' %}

{% block title %}L'article{% endblock %}

{% block body %}
<div class="">
    <img src="/uploads/{{article.image}}" alt="">
    <p>Date de parution : </p>
</div>
<div>
    <h1>{{article.title}}</h1>
    <h2>{{article.subtitle}}</h2>
    {# il faut afficher le contenu de la bdd mais celui ci comprend des balises HTML donc on doit utiliser un filtre "raw" #}
    <p>{{article.textContent | raw}}</p>
</div>

{% endblock %}
