{% extends 'base.html.twig' %}

{% block title %}Merci pour votre commande{% endblock %}

{% block body %}

<div class="bg-color min-height d-flex justify-content-center align-items-center flex-column">
    <div>
        <img src="{{ asset('/img/check-icon.png') }}" class="mb-3" width='58px' height="58px" alt="commande confirmée">
    </div>
    <div class="col-8 col-md-3 d-flex justify-content-center align-items-center">
        <h1 class="text-center mb-4 h3">Merci pour votre commande</h1>
    </div>
    <div class="text-center">
        <small>Vous retrouverez vos vidéos dans la rubrique "Mon Catalogue"<br>Et vous retrouverez vos évènements dans la rubrique "Mes Evènements".</small>
    </div>
    <a href="{{path('app_user_account_invoice_id', {'id_order' : order.id} ) }}" class="btn btn-primary col-md-3 col-6 mt-5">Voir ma commande</a>
</div>
<script src="{{ asset('/js/signIn.js') }}"></script>
{% endblock %}
