{% extends 'base.html.twig' %}

{% block title %}Merci pour votre commande{% endblock %}

{% block body %}

<div class="bg-color min-height d-flex justify-content-center align-items-center flex-column">
    <div>
        <img src="{{ asset('/img/check-icon.png') }}" class="mb-3" width='58px' height="58px" alt="commande confirmée">
    </div>
    <div class="col-8 col-md-3 d-flex justify-content-center align-items-center">
        <h1 class="text-center mb-4 h3">Merci pour votre commande</h1>
    </div>
    <small>Vous retrouverez votre vidéo dans la rubrique "Mon Catalogue"</small>
    <a href="{{path('app_user_account_catalog')}}" class="btn btn-success col-md-3 col-6 mt-5 my-2">Accéder à mon catalogue</a>
    <a href="{{path('app_user_account_invoice_id', {'id_order' : order.id} ) }}" class="btn btn-primary col-md-3 col-6 mt-2">Voir ma commande</a>
</div>
<script src="{{ asset('/js/signIn.js') }}"></script>
{% endblock %}
